:root{
  --gray: #bfbfbf;
  --blue-deep: #00007B;
  --blue-light: #1085D2;
  --background: #008081;
}

html{
  font-size: 10px;
}
html, body{
  width:100%; height:100%;
  margin:0; padding:0;
  overflow: hidden;
}
#os{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}
.click{
  cursor: pointer;
}
.window{
  background-color: var(--gray);
  position: absolute;
  width: 80%;
  min-width: 15rem;
  height: 80%;
  min-height: 15rem;
  border: solid #ffffff .5rem;
  z-index: 1;
  left: 10%;
  top: 10%;
  box-sizing: border-box;
}
.window .resizer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  --resizer-margin: -1rem;
  --resizer-range: 1.5rem;
}
.window .resizer>*{
  position: absolute;
}
.window .resizer .n{ top:var(--resizer-margin); left:0; }
.window .resizer .s{ bottom:var(--resizer-margin); left:0; }
.window .resizer .w{ left:var(--resizer-margin); top:0; }
.window .resizer .e{ right:var(--resizer-margin); top:0; }
.window .resizer .nw{ top:var(--resizer-margin); left:var(--resizer-margin); }
.window .resizer .ne{ top:var(--resizer-margin); right:var(--resizer-margin); }
.window .resizer .sw{ bottom:var(--resizer-margin); left:var(--resizer-margin); }
.window .resizer .se{ bottom:var(--resizer-margin); right:var(--resizer-margin); }
.window .resizer .n, .window .resizer .s{ width: 100%; height: var(--resizer-range); cursor: ns-resize; }
.window .resizer .w, .window .resizer .e{ height: 100%; width: var(--resizer-range); cursor: ew-resize; }
.window .resizer .nw, .window .resizer .ne, .window .resizer .sw, .window .resizer .se{
  width: var(--resizer-range);
  height: var(--resizer-range);
  z-index: -1;
}
.window .resizer .nw, .window .resizer .se{ cursor: nw-resize }
.window .resizer .ne, .window .resizer .sw{ cursor: ne-resize }
.window .bar{
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to right,var(--blue-deep),var(--blue-light));
  display: flex;
  padding: .5rem;
}
.window>*:not(.content){ -user-select:none }
.window .bar .x{
  height: 100%;
  width: auto;
  margin-left: auto;
}
.window .content{
  font-size: 2rem;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}
#workspace{
  width: 90%;
  position: absolute;
  bottom: 0;
  margin-left: auto; margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1.5rem;
  z-index: 5;
}
#workspace>*{
  height: 5rem;
  width: auto;
  transition: transform 0.2s ease;
  transform-origin: bottom;
}
#workspace>*:not(no_hover):hover{
  transform: scale(1.1);
}
.window,#workspace>*{
  filter: drop-shadow(.3rem .3rem .3rem rgba(0,0,0,.5));
}
