:root{
  --gray: #bfbfbf;
  --blue-deep: #00007B;
  --blue-light: #1085D2;
  --background: #008081;
}

html{
  font-size: 10px;
}
html, body{
  width:100%; height:100%;
  margin:0; padding:0;
  overflow: hidden;
}
#os{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}
#os.using iframe{
  pointer-events: none;
}
.click{
  cursor: pointer;
}
.window{
  background-color: var(--gray);
  border: solid #ffffff .5rem;
  z-index: 1;
  box-sizing: border-box;
  --window_barHeight: 4rem;
}
[data-pointer="true"] .window{
  position: absolute;
  width: 80% ; max-width: calc(100% - 2rem) ;
  height: 80% ; max-height: calc(100% - 2rem) ;
  left: 10%;
  top: 10%;
}
[data-pointer="false"] .window{
  width: 100% ;
  height: 100% ;
}
.window.maximized{
  width: 100% ;
  height: 100% ;
  top: 0 ;
  left: 0 ;
}
#media .content>*{
  width: 100%;
  height: 100%;
}
.window>*:not(.content){ -user-select:none }
.bar{
  box-sizing: border-box;
  width: 100%;
  height: var(--window_barHeight);
  background: linear-gradient(to right,var(--blue-deep),var(--blue-light));
  display: flex;
  padding: .5rem;
  gap: .5rem;
}
.bar>*{
  height: 100%;
}
.bar h1{
  color: white;
  margin: 0 1rem;
  order: 1;
  margin-right: auto;
}
.bar .close{
  width: auto;
  order: 3;
}
.bar .maximize{
  width: auto;
  order: 2;
}
.window .area{
  height: calc(100% - var(--window_barHeight));
}
.window:not(#media) .area{
  overflow-y: auto;
}
.window .content{
  font-size: 2rem;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  /*min-width: 30rem;
  min-height: 30rem;*/
}
.window .resizer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  --resizer-margin: -1rem;
  --resizer-range: 1.5rem;
}
.window .resizer>*{
  position: absolute;
}
.window .resizer .n{ top:var(--resizer-margin); left:0; }
.window .resizer .s{ bottom:var(--resizer-margin); left:0; }
.window .resizer .w{ left:var(--resizer-margin); top:0; }
.window .resizer .e{ right:var(--resizer-margin); top:0; }
.window .resizer .nw{ top:var(--resizer-margin); left:var(--resizer-margin); }
.window .resizer .ne{ top:var(--resizer-margin); right:var(--resizer-margin); }
.window .resizer .sw{ bottom:var(--resizer-margin); left:var(--resizer-margin); }
.window .resizer .se{ bottom:var(--resizer-margin); right:var(--resizer-margin); }
.window .resizer .n, .window .resizer .s{ width: 100%; height: var(--resizer-range); cursor: ns-resize; }
.window .resizer .w, .window .resizer .e{ height: 100%; width: var(--resizer-range); cursor: ew-resize; }
.window .resizer .nw, .window .resizer .ne, .window .resizer .sw, .window .resizer .se{
  width: var(--resizer-range);
  height: var(--resizer-range);
  z-index: -1;
}
.window .resizer .nw, .window .resizer .se{ cursor: nw-resize }
.window .resizer .ne, .window .resizer .sw{ cursor: ne-resize }
#workspace{
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-left: auto; margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1.5rem;
  z-index: 100;
}
#workspace>*{
  height: 5rem;
  width: auto;
  transition: transform 0.2s ease;
  transform-origin: bottom;
}
#workspace>*:not(no_hover):hover{
  transform: scale(1.1);
}
[data-pointer="true"] .window,#workspace>*{
  filter: drop-shadow(.3rem .3rem .3rem rgba(0,0,0,.5));
}
.screen{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2rem;
}
.screen.blue{
  background-color: blue;
  font-family: san-serif;
  color: white;
}
.screen.blue h2{
  font-size: 15rem;
  text-align: center;
  margin: 5rem auto;
}
.screen.blue p{
  margin-left: 20% ; margin-right: 20% ;
  font-size: 3rem ;
  line-height: 1.3 ;
}